.Chatroom__main {
  width: 100%;
  padding: 40px 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  color: var(--dark_gray_text);
  flex-direction: column;
}
