.Login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Login {
  display: flex;
  flex-direction: column;
}
.Login__input {
  width: 400px;
  margin-bottom: 20px;
}
